<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/css/ForStudentRegistration.css">
    <title>Student | Registration</title>
</head>
<body>
    <div class="inputs">
        <input type="text" name="" id="firstname">
        <label for="firstname">First name</label>
        <input type="text" name="" id="middlename">
        <label for="middlename">Middle name</label>
        <input type="text" name="" id="lastname">
        <label for="lastname">Last name</label>
        <input type="text" name="" id="age">
        <label for="age">Age</label>
        <input type="text" name="" id="address">
        <label for="address">Address</label>
        <input type="text" name="" id="sex">
        <label for="sex">Sex</label>
        <input type="text" name="" id="cellphone_number">
        <label for="cellphone_number">Cellphone number</label>
        <input type="text" name="" id="Birth_certificate">
        <label for="Birth_certificate">Birth certificate</label>
        <input type="text" name="" id="Birth_place">
        <label for="text">Birth place</label>
    </div>
</body>
</html>