<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/css/ForStudentRegistration.css">
    <title>Student | Registration</title>
</head>
<body>
    <div class="inputs">
        <form action="/Inputs" method="post">
            <input type="text" name="firstname" id="firstname">
            <label for="firstname">First name</label>
            <input type="text" name="middlename" id="middlename">
            <label for="middlename">Middle name</label>
            <input type="text" name="lastname" id="lastname">
            <label for="lastname">Last name</label>
            <input type="text" name="age" id="age">
            <label for="age">Age</label>
            <input type="text" name="address" id="address">
            <label for="address">Address</label>
            <input type="text" name="sex" id="sex">
            <label for="sex">Sex</label>
            <input type="text" name="cellphone_number" id="cellphone_number">
            <label for="cellphone_number">Cellphone number</label>
            <input type="text" name="Birth_certificate" id="Birth_certificate">
            <label for="Birth_certificate">Birth certificate</label>
            <input type="text" name="Birth_place" id="Birth_place">
        </form>
    </div>
</body>
</html>