<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/css/Registration.css">
    <title>Log in | Sign up</title>
</head>
<body>
    <img class="Logo" src="/static/img/Logo.png" alt="Logo">
    <h1 id="LogoName">University of Sample School</h1>
    <div class="WelcomeMessage">
        <h1>Registration Platform for students and teachers</h1>
        <p>Note: Change later. Way pa may naisip dn. 🤣🤣</p>
    </div>
    <div class="Options_For_Teachers_And_Students">
        <h3>What are you?</h3>
        <form action="/Registration_links" method="post">
            <button class="link1" type="submit" name="link" value="Teacher">Teacher</button>
            <button class="link2" type="submit" name="link" value="Student">Student</button>
        </form>
    </div>
    <button id="ok">Darkmode</button>

    <!-- Link to the external JavaScript file -->
    <script src="/static/javascript/Registration.js"></script>
</body>
</html>
